body{
		background-image: url(../img/best.jpg);
		background-color: slategray;
		margin: 0 auto;
		font-family: Tahoma;
		color: rgb(0, 51, 102);
		
}

h1{
		color: #fff;
		background-color: orange;
		border-radius: 25px;
}

h2{
		color:skyblue;
		border-bottom: 3px solid #996600;
}

#container{
			max-height: 800px;
			max-width: 80%;
			margin: auto;
}			

#main{
		height: 700px;
		min-width: 60%;
		border-radius: 25px ;
		background-color: ;
}

.form{
		border: 3px solid #fff;
		background-color: rgb(255, 204, 153);
		border-radius: 25px;
		
}

input[type=button], input[type=submit]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	width: 20%;
	border-radius: 25px;
}

input{
		
	width: 24%;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
	border-radius: 10px;
}

input[type=radio]{
		
	width: 5%;
    padding: 0;
    margin:0;
}

input[type=button], input[type=submit]:hover{
    background-color: rgb(51, 204, 51);
    border: none;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
	font-weight: bolder;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 25px;
}

.footer{
	font-family: arial;
	color: #fff;
}

a {
		background-color: #4CAF50;
		color: white;
		text-decoration: none;
		padding: 10px;
		border-radius: 5px;
		
}

input[type=button]:hover{
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
	font-weight: bolder;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 25px;
}

a:hover {
		background-color:rgb(51, 204, 51);
		color: white;
		text-decoration: none;
		padding: 10px;
		border-radius: 5px;
		
}	
		